<div class="main-image">
    <img class="radius" src="assets/mountain.jpg" alt="mountain" style="width:96%;">
</div>
<div class="main-section">
    <div class="profile-card w3-round-xxlarge">
        <div class="profile-user">
            <img src="" alt="">
            <p>Fulan</p>
            <p>Mahasiswa</p>
        </div>
    </div>
    <div class="main-card w3-round-xxlarge">
        <nav>
            <ul>
                <li><a class="nav-link underline" href="">Dashboard</a></li>
                <li><a class="nav-link underline" href="">Feeling Sick</a></li>
                <li><a class="nav-link underline" href="">Izin Sakit</a></li>
                <li><a class="nav-link underline" href="">Riwayat Pemeriksaan</a></li>
            </ul>
        </nav>
    </div>
</div>