<section id="feeling-sick">
  <div class="header">
    <h2>Analisis Hasil Korelasi</h2>
    <h6>
      Pilih minimal satu <b>gejala</b> dan satu <b>dampak</b> yang dialami untuk
      menentukan hasil
    </h6>
  </div>

  <div class="checkbox-container">
    <div class="column-right">
      <h3>Gejala</h3>
      <ul>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Pusing" />
          <label for="gejala">Pusing</label>
        </li>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Mual" />
          <label for="gejala">Mual</label>
        </li>
        <li>
          <input
            type="checkbox"
            class="gejala"
            name="gejala"
            value="Nyeri_dada" />
          <label for="gejala">Nyeri dada seperti terbakar</label>
        </li>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Kulit" />
          <label for="gejala"
            >Kulit terasa kering, gatal atau mungkin bersisik</label
          >
        </li>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Mimisan" />
          <label for="gejala">Mimisan</label>
        </li>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Batuk" />
          <label for="batuk">Batuk</label>
        </li>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Mimisan" />
          <label for="gejala">Mimisan</label>
        </li>
        <li>
          <input
            type="checkbox"
            class="gejala"
            name="gejala"
            value="Bersendawa" />
          <label for="gejala">Bersendawa</label>
        </li>
        <li>
          <input type="checkbox" class="gejala" name="gejala" value="Diare" />
          <label for="gejala">Diare</label>
        </li>
        <input type="checkbox" class="gejala" name="gejala" value="Perut" />
        <label for="gejala">Perut Kembung</label>
      </ul>
    </div>

    <div class="column-left">
      <h3>Dampak</h3>
      <ul>
        <li>
          <input type="checkbox" class="dampak" name="dampak" value="Berat" />
          <label for="dampak">Berat badan menurun drastis</label>
        </li>
        <li>
          <input
            type="checkbox"
            class="dampak"
            name="dampak"
            value="Nafsu_makan" />
          <label for="dampak">Hilangnya nafsu makan</label>
        </li>
        <li>
          <input type="checkbox" class="dampak" name="dampak" value="Muntah" />
          <label for="dampak">Muntah</label>
        </li>
        <li>
          <input type="checkbox" class="dampak" name="dampak" value="tubuh" />
          <label for="dampak"
            >Tubuh lemas, mudah lelah, dan tidak bertenaga</label
          >
        </li>
        <li>
          <input
            type="checkbox"
            class="dampak"
            name="dampak"
            value="Suhu_badan" />
          <label for="dampak">Suhu badan meningkat</label>
        </li>
        <li>
          <input
            type="checkbox"
            class="dampak"
            name="dampak"
            value="Rasa_pahit" />
          <label for="dampak">Rasa pahit dimulut</label>
        </li>
        <li>
          <input
            type="checkbox"
            class="dampak"
            name="dampak"
            value="Sulit_tidur" />
          <label for="dampak">Sulit tidur atau gangguan tidur</label>
        </li>
        <li>
          <input type="checkbox" class="dampak" name="dampak" value="Feses" />
          <label for="dampak">Feses berwarna gelap atau berdarah</label>
        </li>
        <li>
          <input
            type="checkbox"
            class="dampak"
            name="dampak"
            value="Regurgitasi" />
          <label for="dampak">Regurgitasi (naiknya asam ke tenggorokan)</label>
        </li>
      </ul>
    </div>
  </div>

  <div class="btn-container">
    <button class="w3-button w3-red w3-round-xxlarge">Clear</button>
    <a href="dosen/hasil" class="w3-button w3-blue w3-round-xxlarge">Kirim</a>
  </div>
</section>
