<div class="w3-container w3-margin">
  <h2>Mahasiswa</h2>

  <div class="w3-row">
    <div class="w3-col m6">
      <input class="w3-input w3-round-xlarge w3-border" type="text" id="searchInput" onkeyup="searchNamaNIM()" placeholder="Cari NIM atau Nama Mahasiswa" style="width: 60%;">
    </div>
    <div class="w3-col m6 w3-right-align">
      <select class="w3-select w3-round-xlarge w3-border" id="kelasInput" onchange="filterKelas()" style="width: 30%;">
          <option value="">Semua Kelas</option>
          <option value="IF-1">IF-1</option>
          <option value="IF-2">IF-2</option>
      </select>
    </div>
  </div>
  
  <table class="w3-table w3-striped" id="myTable">
    <tr>
      <th>NIM</th>
      <th>Nama Mahasiswa</th>
      <th>Kelas</th>
      <th>Permohonan Izin</th>
      <th>Status</th>
    </tr>
    <tr>
        <td>10122010</td>
        <td>Ahmad</td>
        <td>IF-1</td>
        <td>20/01/2024</td>
        <td onclick="document.getElementById('id01').style.display='block'" class="w3-hover-text-red" style="cursor: pointer;">Demam</td>
    </tr>
    <tr>
        <td>10122005</td>
        <td>Zulfi Fadilah Azhar</td>
        <td>IF-2</td>
        <td>20/01/2024</td>
        <td onclick="document.getElementById('id01').style.display='block'" class="w3-hover-text-red" style="cursor: pointer;">Demam</td>
    </tr>
    <tr>
        <td>10122005</td>
        <td>Zulfi Fadilah Azhar</td>
        <td>IF-2</td>
        <td>20/01/2024</td>
        <td onclick="document.getElementById('id01').style.display='block'" class="w3-hover-text-red" style="cursor: pointer;">Demam</td>
    </tr>
    <tr>
        <td>10122005</td>
        <td>Zulfi Fadilah Azhar</td>
        <td>IF-2</td>
        <td>20/01/2024</td>
        <td onclick="document.getElementById('id01').style.display='block'" class="w3-hover-text-red" style="cursor: pointer;">Demam</td>
    </tr>
  </table>
</div>
<div id="id01" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-round-xlarge" style="width: 600px;">
        <header class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
            <h1 class="w3-margin">Surat Keterangan Sakit</h1>
        </header>
        <div class="w3-container">
            <table class="w3-table w3-margin-bottom">
                <tr>
                    <td>NIM</td>
                    <td>:</td>
                    <td>10122005</td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>:</td>
                    <td>Zulfi</td>
                </tr>
                <tr>
                    <td>Kelas</td>
                    <td>:</td>
                    <td>IF-1</td>
                </tr>
                <tr>
                    <td>Tanggal</td>
                    <td>:</td>
                    <td>20/01/2024</td>
                </tr>
                <tr>
                    <td>Mata Kuliah</td>
                    <td>:</td>
                    <td>IMK</td>
                </tr>
                <tr>
                    <td>Dosen</td>
                    <td>:</td>
                    <td>Utami Dewi</td>
                </tr>
                <tr>
                    <td>Jenis Penyakit</td>
                    <td>:</td>
                    <td>Diare</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    document.getElementById("searchInput").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            searchNamaNIM();
            filterKelas();
        }
    });

    document.getElementById("kelasInput").addEventListener("change", function(event) {filterKelas();});

    function searchNamaNIM() {
    let input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
            }
        }
        }       
    }
    }

    function filterKelas() {
    let kelas, table, tr, td, i, txtValue;
    kelas = document.getElementById("kelasInput");
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
        txtValue = td.textContent || td.innerText;
        if (kelas.value === "" || txtValue === kelas.value) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
        }
    }
    }
</script>