<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentication</title>
    <link rel="stylesheet" href="/stylesheets/authentication.css">
</head>
<body>
    <%- body %>

    <script>
        const loginAs = document.querySelectorAll('input[name="loginAs"]')
        
        loginAs.forEach(input => {
            input.addEventListener('change', () => {
                const loginasLabel = document.getElementById('loginas-label')
                let loginasVal;
                switch(input.value){
                    case 'mahasiswa': loginasVal = 'NIM'; break;
                    case 'dosen' : loginasVal = 'NID'; break;
                    case 'dokter' : loginasVal = 'NIDok'; break;
                }
                loginasLabel.innerHTML = loginasVal
            })
        })
    </script>
</body>
</html>