<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhealth</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <p>UNIKOM Health</p>
            </div>
            <div class="header-profile">
                <img src="assets/profile.png" alt="profile picture" style="width: 50px; height: 50px; margin-right: 10px;">
                <p>Dosen</p>
            </div>
        </div>
    </header>

    <div class="main-image">
        <img class="radius" src="assets/mountain.jpg" alt="mountain" style="width:96%;">
    </div>
    <div class="main-section">
        <div class="profile-card w3-round-xxlarge">
            <div class="profile-user">
                <img src="assets/profile.png" alt="profile picture" style="width: 110px; margin: 20px 0 0 20px;">
                <ul>
                    <li>Usman bin Abdul Jalil Sisha</li>
                    <li>Dosen</li>
                </ul>
            </div>
            <div class="profile-info">
                <ul>
                    <li>Nomor Induk Dosen</li>
                    <li>201321908401</li>
                    <li>Tahun Masuk</li>
                    <li>2009</li>
                    <li>Kelas Diampu</li>
                    <li>S1/III/IF-1, S1/IV/IF-7</li>
                    <li>Email</li>
                    <li>usmaniabdul771@dosen.unikom.ac.id</li>
                </ul>
            </div>
            <div class="button-logout">
                <button class="w3-button w3-red w3-round-xlarge">Logout</button>
            </div>
        </div>
        <div class="main-card w3-round-xxlarge">
            <nav>
                <ul>
                    <li><a class="nav-link underline" href="/dosen">Dashboard</a></li>
                    <li><a class="nav-link underline" href="/dosen/feeling-sick">Feeling Sick</a></li>
                    <li><a class="nav-link underline" href="/dosen/surat-izin">Cek Surat Izin</a></li>
                    <li><a class="nav-link underline" href="/dosen/kesehatan-mahasiswa">Monitor Kesehatan Mahasiswa</a></li>
                </ul>
            </nav>
            <%- body %>
        </div>
    </div>

    <script>
        window.onload = function () {
            const paths = ['/mahasiswa', '/mahasiswa/feeling-sick', '/mahasiswa/izin-sakit', '/mahasiswa/riwayat'];
            const currentPath = window.location.pathname;

            paths.forEach(function (path) {
                if (currentPath === path) {
                    const link = document.querySelector(`a[href="${path}"]`);
                    link.classList.add('active');
                }
            });
        }

        let weather = {
            "apikey": "7f27214484dc61d89cc71da5d61378ec",
            fetchWeather: function (city) {
                fetch(
                    "https://api.openweathermap.org/data/2.5/weather?q=" +
                    city +
                    "&units=metric&appid=7f27214484dc61d89cc71da5d61378ec"
                )
                    .then((response) => response.json())
                    .then((data) => this.displayWeather(data));
            },
            displayWeather: function (data) {
                const { name } = data;
                const { icon, description } = data.weather[0];
                const { temp, humidity } = data.main;
                const { speed } = data.wind;
                document.querySelector(".city").innerText = "Cuaca di " + name;
                document.querySelector(".icon").src =
                    "https://openweathermap.org/img/wn/" + icon + "@2x.png";
                document.querySelector(".desc").innerText = description;
                document.querySelector(".temp").innerText = temp + "°C";
                document.querySelector(".humid").innerText =
                    "Kelembapan: " + humidity + "%";
                document.querySelector(".wind").innerText =
                    "Kecepatan Angin: " + speed + " km/jam";
                document.querySelector(".weather").classList.remove("loading");
            },
            search: function () {
                this.fetchWeather(document.querySelector(".search-bar").value);
            }
        };

        const newName = document.getElementById("cityInput");

        function GetInfo() {
            const newName = document.getElementById("cityInput");
            const cityName = document.getElementById("cityName");
            cityName.innerHTML = "--" + newName.value + "--";

            fetch(
                "https://api.openweathermap.org/data/2.5/forecast?q=" +
                newName.value +
                "&appid=7f27214484dc61d89cc71da5d61378ec"
            )
                .then((response) => response.json())
                .then((data) => {
                    //counter untuk max dan min value
                    for (i = 0; i < 3; i++) {
                        document.getElementById("day" + (i + 1) + "Min").innerHTML =
                            "Min: " +
                            Number(data.list[i].main.temp_min - 273.15).toFixed(1) +
                            "°C";
                    }

                    for (i = 0; i < 3; i++) {
                        document.getElementById("day" + (i + 1) + "Max").innerHTML =
                            "Max: " +
                            Number(data.list[i].main.temp_max - 273.15).toFixed(2) +
                            "°C";
                    }

                    //icon untuk cuaca
                    for (i = 0; i < 3; i++) {
                        document.getElementById("img" + (i + 1)).src =
                            "http://openweathermap.org/img/wn/" +
                            data.list[i].weather[0].icon +
                            ".png";
                    }
                    console.log(data);
                })
                .catch((err) =>
                    alert("Terjadi Kesalahan, Nama Kota yang dimasukkan salah")
                );
        }

        function DefaultScreen() {
            const defaultCity = "Bandung";
            document.getElementById("cityInput").defaultValue = "Bandung";
            GetInfo(defaultCity);
        }

        // Menampilkan hari
        const d = new Date();
        const weekday = [
            "Minggu",
            "Senin",
            "Selasa",
            "Rabu",
            "Kamis",
            "Jumat",
            "Sabtu",
        ];

        function CheckDay(day) {
            if (day + d.getDay() > 6) {
                return day + d.getDay() - 7;
            } else {
                return day + d.getDay();
            }
        }

        for (i = 0; i < 3; i++) {
            document.getElementById("day" + (i + 1)).innerHTML = weekday[CheckDay(i + 1)];
        }

        document.querySelector(".search button").addEventListener("click", function () {
            weather.search();
        });

        document.querySelector(".search-bar").addEventListener("keyup", function (event) {
            if (event.key == "Enter") {
                weather.search();
                GetInfo(newName);
            }
        });

        weather.fetchWeather("Bandung");
        DefaultScreen();
    </script>
    
</body>
</html>