<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uhealth</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <p>UNIKOM Health</p>
            </div>
            <div class="header-profile">
                <img src="assets/profile.png" alt="profile picture" style="width: 50px; height: 50px; margin-right: 10px;">
                <p>Mahasiswa</p>
            </div>
        </div>
    </header>

    <div class="main-image">
        <img class="radius" src="assets/mountain.jpg" alt="mountain" style="width:96%;">
    </div>
    <div class="main-section">
        <div class="profile-card w3-round-xxlarge">
            <div class="profile-user">
                <img src="assets/profile.png" alt="profile picture" style="width: 110px; margin: 20px 0 0 20px;">
                <ul>
                    <li>Zulfi Fadilah Azhar</li>
                    <li>Mahasiswa</li>
                </ul>
            </div>
            <div class="profile-info">
                <ul>
                    <li>Program Studi</li>
                    <li>01 - Sastra Teknik</li>
                    <li>Kelas / Tahun Masuk</li>
                    <li>ST-1 / 2022</li>
                    <li>Dosen Wali</li>
                    <li>Maman Racing, S.T, M.Kom</li>
                    <li>Email</li>
                    <li>zulfi.10122005@mahasiswa.unikom.ac.id</li>
                </ul>
            </div>
            <div class="button-logout">
                <button class="w3-button w3-red w3-round-xlarge">Logout</button>
            </div>
        </div>
        <div class="main-card w3-round-xxlarge">
            <nav>
                <ul>
                    <li><a class="nav-link underline" href="/mahasiswa">Dashboard</a></li>
                    <li><a class="nav-link underline" href="/mahasiswa/feeling-sick">Feeling Sick</a></li>
                    <li><a class="nav-link underline" href="/mahasiswa/izin-sakit">Izin Sakit</a></li>
                    <li><a class="nav-link underline" href="/mahasiswa/riwayat">Riwayat Pemeriksaan</a></li>
                </ul>
            </nav>
            <%- body %>
        </div>
    </div>

    <script>
        window.onload = function() {
        const paths = ['/', '/feeling-sick', '/izin-sakit', '/riwayat'];
        const currentPath = window.location.pathname;

        paths.forEach(function(path) {
            if (currentPath === path) {
                var link = document.querySelector(`a[href="${path}"]`);
                link.classList.add('active');
            }
        });
    }
    </script>

</body>
</html>