<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/w3.css">
</head>
<body>
    <!-- <%- include('../partials/navbar.ejs')  %> -->
    <%- include('../partials/header.ejs')  %>
    <%- include('../partials/dashboard.ejs')  %>
    <%- body %>
</body>
</html>