<div class="split-screen">
  <div class="left">
    <section class="copy">
      <h1>UNIKOM Health</h1>
      <p>Tubuh yang sehat merupakan landasan kehidupan yang sejahtera</p>
    </section>
  </div>
  <div class="right">
    <form>
      <section class="copy">
        <h2>Selamat Datang</h2>
        <div class="login-container">
          <p>Masukkan NIM dan Password untuk Login</p>
        </div>
      </section>
      <div class="input-container nim">
        <label for="nim">NIM</label>
        <input type="text" id="nim" name="nim" />
      </div>
      <div class="input-container password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <i class="far fa-eye-slash"></i>
      </div>
      <p>
        <span class="small"
          >Lupa Password? Silahkan
          <a href="/auth/lupa-password">Reset Password</a>
        </span>
      </p>
      <button class="login-btn" type="submit">Log In</button>
    </form>
  </div>
</div>
