<div class="split-screen">
  <div class="left">
    <section class="copy">
      <h1>UNIKOM Health</h1>
      <p>Tubuh yang sehat merupakan landasan kehidupan yang sejahtera</p>
    </section>
  </div>
  <div class="right">
    <form action="/auth/login" method="post">
      <section class="copy">
        <h2>Selamat Datang</h2>
        <% if (messages.error) { %>
          <p style="color: red;"><%= messages.error %></p>
        <% } %>
      </section>
      <div style="margin-bottom: 15px;">
        <span>Login sebagai:</span>
        <br>
        <div style="display: inline-flex; align-items: flex-start; margin-right: 3px;">
          <input type="radio" name="loginAs" value="mahasiswa" id="mahasiswa">
          <label for="mahasiswa" style="margin-top: 1px">Mahasiswa</label>
        </div>
        <div style="display: inline-flex; align-items: flex-start; margin-right: 3px;">
          <input type="radio" name="loginAs" value="dosen" id="dosen">
          <label for="dosen" style="margin-top: 1px">Dosen</label>
        </div>
        <div style="display: inline-flex; align-items: flex-start; margin-right: 3px;">
          <input type="radio" name="loginAs" value="dokter" id="dokter">
          <label for="dokter" style="margin-top: 1px">Dokter</label>
        </div>
      </div>
      <div class="input-container nim">
        <label for="nim" id="loginas-label">NIM</label>
        <input type="text" id="nim" name="ni" />
      </div>
      <div class="input-container password">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <i class="far fa-eye-slash"></i>
      </div>
      <p>
        <span class="small"
          >Lupa Password? Silahkan
          <a href="/auth/lupa-password">Reset Password</a>
        </span>
      </p>
      <button class="login-btn" type="submit">Log In</button>
    </form>
  </div>
</div>
