<% mahasiswa.forEach(mhs => { %>
    <div class="mahasiswa">
        <b><%= mhs.nama %></b>
        <br>
        <span><i><%= mhs.nim %></i></span>
        <br>
        <span><%= mhs.email %></span>
        <br>
        <br>
    </div>
<% }) %>