#izinsakit {
  padding: 30px;
}

#izinsakit .data-mhs .tittle,
#izinsakit .info-akademis .tittle {
  width: 100%;
  font-size: 20px;
}

#izinsakit .info-akademis .tittle {
  margin-top: 20px;
}

#izinsakit .data-mhs .tittle h3,
#izinsakit .info-akademis .tittle h3 {
  font-size: 20px;
  font-weight: 600;
}

#izinsakit .row .col-3:last-child {
  padding-top: 20px;
}

#izinsakit input[type="text"],
#izinsakit input[type="date"],
#izinsakit select,
#izinsakit button {
  border-radius: 25px;
  background-color: #d9d9d9;
  border: none;
  height: 30px;
}

#izinsakit h2 {
  text-align: center;
}

#izinsakit .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#izinsakit .content {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 10px;
}

#izinsakit label {
  display: block;
  margin-bottom: 5px;
}

#izinsakit button {
  width: 100px;
  margin: 10px;
}

#izinsakit .button-container {
  display: flex;
  justify-content: center;
}
