<div class="dashboard-section">
    <div class="card-container">
        <div class="card">1</div>
        <div class="card">2</div>
        <div class="card">3</div>
        <div class="card">4</div>
    </div>
    <div class="weather-container">
        <div class="weather-today">
            <div class="search">
                <input type="text" class="search-bar" placeholder="Search" id="cityInput">
                <button type="button" onclick="GetInfo()"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 500 500" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M443.5 420.2L336.7 312.4c20.9-26.2 33.5-59.4 33.5-95.5 0-84.5-68.5-153-153.1-153S64 132.5 64 217s68.5 153 153.1 153c36.6 0 70.1-12.8 96.5-34.2l106.1 107.1c3.2 3.4 7.6 5.1 11.9 5.1 4.1 0 8.2-1.5 11.3-4.5 6.6-6.3 6.8-16.7.6-23.3zm-226.4-83.1c-32.1 0-62.3-12.5-85-35.2-22.7-22.7-35.2-52.9-35.2-84.9 0-32.1 12.5-62.3 35.2-84.9 22.7-22.7 52.9-35.2 85-35.2s62.3 12.5 85 35.2c22.7 22.7 35.2 52.9 35.2 84.9 0 32.1-12.5 62.3-35.2 84.9-22.7 22.7-52.9 35.2-85 35.2z"></path></svg></button>
            </div>
            <div class="weather loading">
                <h2 class="city" id="cityName">Dummy</h2>
                <div class="weather-info">
                    <h1 class="temp">Dummy째C</h1>
                    <img src="https://openweathermap.org/img/wn/04n.png" alt="weather icon" class="icon">
                </div>
                <center>
                    <div class="desc">Dummy</div>
                </center>
                <div class="humid">Kelembapan: Dummy%</div>
                <div class="wind">Kecepatan Angin: Dummy km/jam</div>
            </div>
        </div>
        <div class="weather-tomorrow">
            <p>Cuaca 3 Hari Kedepan</p>
            <div class="weather-card-container">
                <div class="weather-card">
                    <p class="cuaca" id="day1"></p>
                    <div class="image"><img src="dots.png" class="imgClass" id="img1"></div>
                    <p class="min-val" id="day1Min">Waiting..</p>
                    <p class="max-val" id="day1Max">Waiting..</p>
                </div>
                <div class="weather-card">
                    <p class="cuaca" id="day2"></p>
                    <div class="image"><img src="dots.png" class="imgClass" id="img2"></div>
                    <p class="min-val" id="day2Min">Waiting..</p>
                    <p class="max-val" id="day2Max">Waiting..</p>
                </div>
                <div class="weather-card">
                    <p class="cuaca" id="day3"></p>
                    <div class="image"><img src="dots.png" class="imgClass" id="img3"></div>
                    <p class="min-val" id="day3Min">Waiting..</p>
                    <p class="max-val" id="day3Max">Waiting..</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let weather = {
        "apikey": "7f27214484dc61d89cc71da5d61378ec",
        fetchWeather: function (city) {
            fetch(
                "https://api.openweathermap.org/data/2.5/weather?q=" +
                city +
                "&units=metric&appid=7f27214484dc61d89cc71da5d61378ec"
            )
                .then((response) => response.json())
                .then((data) => this.displayWeather(data));
        },
        displayWeather: function (data) {
            const { name } = data;
            const { icon, description } = data.weather[0];
            const { temp, humidity } = data.main;
            const { speed } = data.wind;
            document.querySelector(".city").innerText = "Cuaca di " + name;
            document.querySelector(".icon").src =
                "https://openweathermap.org/img/wn/" + icon + "@2x.png";
            document.querySelector(".desc").innerText = description;
            document.querySelector(".temp").innerText = temp + "째C";
            document.querySelector(".humid").innerText =
                "Kelembapan: " + humidity + "%";
            document.querySelector(".wind").innerText =
                "Kecepatan Angin: " + speed + " km/jam";
            document.querySelector(".weather").classList.remove("loading");
        },
        search: function () {
            this.fetchWeather(document.querySelector(".search-bar").value);
        }
    };
    const newName = document.getElementById("cityInput");
    function GetInfo() {
        const newName = document.getElementById("cityInput");
        const cityName = document.getElementById("cityName");
        cityName.innerHTML = "--" + newName.value + "--";
        fetch(
            "https://api.openweathermap.org/data/2.5/forecast?q=" +
            newName.value +
            "&appid=7f27214484dc61d89cc71da5d61378ec"
        )
            .then((response) => response.json())
            .then((data) => {
                //counter untuk max dan min value
                for (i = 0; i < 3; i++) {
                    document.getElementById("day" + (i + 1) + "Min").innerHTML =
                        "Min: " +
                        Number(data.list[i].main.temp_min - 273.15).toFixed(1) +
                        "째C";
                }
                for (i = 0; i < 3; i++) {
                    document.getElementById("day" + (i + 1) + "Max").innerHTML =
                        "Max: " +
                        Number(data.list[i].main.temp_max - 273.15).toFixed(2) +
                        "째C";
                }
                //icon untuk cuaca
                for (i = 0; i < 3; i++) {
                    document.getElementById("img" + (i + 1)).src =
                        "http://openweathermap.org/img/wn/" +
                        data.list[i].weather[0].icon +
                        ".png";
                }
                console.log(data);
            })
            .catch((err) =>
                alert("Terjadi Kesalahan, Nama Kota yang dimasukkan salah")
            );
    }
    function DefaultScreen() {
        const defaultCity = "Bandung";
        document.getElementById("cityInput").defaultValue = "Bandung";
        GetInfo(defaultCity);
    }
    // Menampilkan hari
    const d = new Date();
    const weekday = [
        "Minggu",
        "Senin",
        "Selasa",
        "Rabu",
        "Kamis",
        "Jumat",
        "Sabtu",
    ];
    function CheckDay(day) {
        if (day + d.getDay() > 6) {
            return day + d.getDay() - 7;
        } else {
            return day + d.getDay();
        }
    }
    for (i = 0; i < 3; i++) {
        document.getElementById("day" + (i + 1)).innerHTML = weekday[CheckDay(i + 1)];
    }
    document.querySelector(".search button").addEventListener("click", function () {
        weather.search();
    });
    document.querySelector(".search-bar").addEventListener("keyup", function (event) {
        if (event.key == "Enter") {
            weather.search();
            GetInfo(newName);
        }
    });
    weather.fetchWeather("Bandung");
    DefaultScreen();
</script>