<div class="hasil-container">
    <div class="wrapper" id="resultWrapper">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
        <h1 id="resultText">Demam</h1>
    </div>
</div>