<section id="riwayat">
  <div class="container">
    <h2>RIWAYAT PEMERIKSAAN</h2>
    <div class="row">
      <% riwayat_pemeriksaan.forEach(riwayat => { %>
        <div class="col-4">
          <div class="card">
            <div class="card-header">
              <span>
                <p><%= `${riwayat.tanggal.getDate()}/${riwayat.tanggal.getMonth()}/${riwayat.tanggal.getYear()}` %></p>
              </span>
              <span>
                <p><%= riwayat.klinik %></p>
              </span>
            </div>
            <div class="card-body">
              <div class="content-left">
                <p style="margin: 20px 0px 20px 10px;"><%= riwayat.penyakit %></p>
              </div>
              <div class="content-right" style="margin-top: 5px;">
                <p>icon</p>
              </div>
            </div>
            <div class="card-footer">
              <span>Pemeriksa: <%= riwayat.pemeriksa %></span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</section>
