<section id="riwayat">
  <div class="container">
    <h2>RIWAYAT PEMERIKSAAN</h2>
    <div class="row">
      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <span>
              <p>05/01/2024</p>
            </span>
            <span>
              <p>Klinik Medical Center</p>
            </span>
          </div>
          <div class="card-body">
            <div class="content-left">
              <ul>
                <li><p>Diabetes</p></li>
                <li><p>Penyakit</p></li>
              </ul>
            </div>
            <div class="content-right">
              <p>icon</p>
            </div>
          </div>
          <div class="card-footer">
            <span>Pemeriksa: Dr. Fulan</span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <span>
              <p>05/01/2024</p>
            </span>
            <span>
              <p>Klinik Medical Center</p>
            </span>
          </div>
          <div class="card-body">
            <div class="content-left">
              <ul>
                <li><p>Diabetes</p></li>
                <li><p>Penyakit</p></li>
              </ul>
            </div>
            <div class="content-right">
              <p>icon</p>
            </div>
          </div>
          <div class="card-footer">
            <span>Pemeriksa: Dr. Fulan</span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <span>
              <p>05/01/2024</p>
            </span>
            <span>
              <p>Klinik Medical Center</p>
            </span>
          </div>
          <div class="card-body">
            <div class="content-left">
              <ul>
                <li><p>Diabetes</p></li>
                <li><p>Penyakit</p></li>
              </ul>
            </div>
            <div class="content-right">
              <p>icon</p>
            </div>
          </div>
          <div class="card-footer">
            <span>Pemeriksa: Dr. Fulan</span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <span>
              <p>05/01/2024</p>
            </span>
            <span>
              <p>Klinik Medical Center</p>
            </span>
          </div>
          <div class="card-body">
            <div class="content-left">
              <ul>
                <li><p>Diabetes</p></li>
                <li><p>Penyakit</p></li>
              </ul>
            </div>
            <div class="content-right">
              <p>icon</p>
            </div>
          </div>
          <div class="card-footer">
            <span>Pemeriksa: Dr. Fulan</span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <span>
              <p>05/01/2024</p>
            </span>
            <span>
              <p>Klinik Medical Center</p>
            </span>
          </div>
          <div class="card-body">
            <div class="content-left">
              <ul>
                <li><p>Diabetes</p></li>
                <li><p>Penyakit</p></li>
              </ul>
            </div>
            <div class="content-right">
              <p>icon</p>
            </div>
          </div>
          <div class="card-footer">
            <span>Pemeriksa: Dr. Fulan</span>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <div class="card-header">
            <span>
              <p>05/01/2024</p>
            </span>
            <span>
              <p>Klinik Medical Center</p>
            </span>
          </div>
          <div class="card-body">
            <div class="content-left">
              <ul>
                <li><p>Diabetes</p></li>
                <li><p>Penyakit</p></li>
              </ul>
            </div>
            <div class="content-right">
              <p>icon</p>
            </div>
          </div>
          <div class="card-footer">
            <span>Pemeriksa: Dr. Fulan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>